* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #2D2D2D;
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #1A1A1A;
  color: #F5F5F5;
  border-bottom: 4px solid #F4BFBF;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
}